# Pendahuluan

In [1]:
# Feature Engineering

# Feature Engineering adalah proses dimana kita menerapkan pengetahuan yang kita punya untuk mendapatkan informasi yang lebih dari data yang kita punya. 
# Contohnya dari KTP seseorang, 
# Anda sebenarnya dapat mendapatkan domisili pembuatan KTP, tanggal lahir, usia, dan jenis kelamin. 
# Anda dapat menggolongkan orang-orang dengan kategori yang sama untuk membuat machine learning lebih mudah membedakan ciri orang.

In [2]:
# Dataset yang digunakan

# Di pembahasan kali ini, kita menggunakan dataset titanic yang sangat terkenal dan sering digunakan. 
# Dataset ini berasal dari Kaggle, salah satu situs kompetisi machine learning. 
# Dataset ini terdiri dari 2 file, titanic_train.csv dan titanic_test.csv.

# Untuk lebih mudah mengenali data ini, kita akan langsung memulai praktek untuk meng-eksplor data dengan Python.

In [3]:
# Import Library yang digunakan

# Import library python biasanya dilakukan di awal sebuah projek. Library yang kita akan gunakan antara lain:
# pandas untuk proses dataframe dan csv
# matplotlib untuk plotting grafik
# seaborn untuk plotting grafik
# sklearn untuk machine learning model
# string untuk proses string

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import StratifiedKFold

import string
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [4]:
# Import Data Set dan Concat Data Frame

# Dataset ini adalah dataset Titanic asli yang didapatkan dari Kaggle. 
# Berisi data dari semua orang yang ikut di dalam Kapal Titanic ratusan tahun yang lalu.

# Jadi, di dalam dataset ini kita mempunyai target variable/label yaitu Survived. 
# Semua kolom/fitur lain akan digunakan untuk menentukkan apakah penumpang ini selamat/tidak dari kejadian Titanic.

# Data Train digunakan untuk melatih model machine learning kita. 
# Data Test nantinya digunakan untuk menebak akurasi model kita di Kaggle.

# Pada bagian ini, akan dijelakan untuk melakukan membaca data dari file csv dan melakukan concat dataframe dengan membuat sebuah fungsi.

# 1. Buat Function concat_df digunakan untuk menggabungkan dua dataset/dataframe dari 2 csv menjadi satu dataframe.
def concat_df(train_data, test_data):
    # Returns a concatenated df of training and test set
    return pd.concat([train_data, test_data], sort=True).reset_index(drop=True)

# 2. Untuk memasukkan csv ke dalam Pandas Dataframe, kita harus menggunakan pd.read_csv()
# Data train kita masukkan ke df_train dan Data test kita masukkan ke df_test. df_all adalah gabungan dari kedua dataframe.
df_train = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/challenge/feature-engineering/titanic_train.csv')
df_test = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/challenge/feature-engineering/titanic_test.csv')
df_all = concat_df(df_train, df_test)

# 3. Kita dapat menamai tiap dataframe dengan memberikan "name" untuk masing-masing dataframe dengan cara :
df_train.name = 'Training Set'
df_test.name = 'Test Set'
df_all.name = 'All Set' 

# 4. dfs adalah list yang berisi kedua dataframe.
dfs = [df_train, df_test]

In [5]:
# Penjelasan dari dataset

# PassengerId adalah id pada row, maka tidak ada pengaruh terhadap target yang dicari
# Survived adalah target yang akan diprediksi, nilai 0 = Not Survived dan nilai 1 = Survived
# Pclass (Passenger Class) adalah kategori level sosial ekonomi penumpang dengan nilai (1, 2 atau 3):
# 1 = Upper Class
# 2 = Middle Class
# 3 = Lower Class
# Name, Sex dan Age merupakan data self-explanatory
# SibSp adalah jumlah saudara dari penumpang
# Parch adalah jumlah Orang Tua dan anak dari penumpang
# Ticket adalah jumlah tiket penumpang
# Fare adalah tarif yang di kenakan kepada penumpang
# Cabin adalah nomor kabin penumpang
# Embarked adalah pelabuhan pemberangkatan ada 3 pelabuhan (C, Q atau S):
# C = Cherbourg
# Q = Queenstown
# S = Southampton

In [6]:
# Exploring Data

# Untuk mengetahui bentuk dari dataframe kita, berapa banyak row dan column yang ada di dalamnya, kita dapat menggunakan .shape.

# contoh:
# df.shape #untuk mengeluarkan array yang berisi row dan column
# df.shape[0] #untuk mendapatkan row
# df.shape[1] #untuk mendapatkan column

# Untuk bagian [...1...] isilah untuk mendapatkan jumlah row pada dataframe df_train 
# Untuk bagian [...2...] isilah untuk mendapatkan jumlah row pada dataframe df_test 
# Untuk bagian [...3...] isilah untuk mendapatkan jumlah row dan column pada dataframe df_train
# Untuk bagian [...4...] isilah untuk mendapatkan jumlah row pada dataframe df_train pada column Survived
# Untuk bagian [...5...] isilah untuk mendapatkan jumlah row dan column pada dataframe df_test
# Untuk bagian [...6...] isilah untuk mendapatkan jumlah row pada dataframe df_test
# Untuk bagian [...7...] isilah untuk mendapatkan column yang terdapat pada df_train dengan menggunakan .columns
# Untuk bagian [...8...] isilah untuk mendapatkan column yang terdapat pada df_test dengan menggunakan .columns

print('Number of Training Examples = {}'.format(df_train.shape[0])) #1
print('Number of Test Examples = {}\n'.format(df_test.shape[0])) #2
print('Training X Shape = {}'.format(df_train.shape)) #3
print('Training y Shape = {}\n'.format(df_train['Survived'].shape[0])) #4
print('Test X Shape = {}'.format(df_test.shape)) #5
print('Test y Shape = {}\n'.format(df_test.shape[0])) #6
print(df_train.columns) #7
print(df_test.columns) #8

Number of Training Examples = 891
Number of Test Examples = 418

Training X Shape = (891, 12)
Training y Shape = 891

Test X Shape = (418, 11)
Test y Shape = 418

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
# Missing Value dan Contoh data

# Salah satu cara untuk menemukan Missing value pada data Anda dapat menggunakan :
# .info(memory_usage=False)

# Sekarang, Anda diminta untuk mengeluarkan missing value pada dataframe df_train
df_train.info(memory_usage=False)

# Kita dapat melihat bahwa ada beberapa data yang kosong di kolom 'Embarked, 'Age', dan 'Cabin'

# Untuk melihat bagian awal dari data Anda dapat menggunakan
print(df_train.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

# Mencari Korelasi dan Melakukan Data Cleansing Sederhana

In [8]:
# Mengetahui Korelasi Fitur

# Untuk mencari korelasi antar kolom pada sebuah dataframe.
# Anda dapat menggunakan corr().abs() seperti contoh penggunaannya di bawah ini:
# df.corr().abs()

# Sekarang teman-teman diminta mencari korelasi pada df_train untuk mengisi bagian [...1...]
df_train_corr = df_train.corr().abs() #1
print(df_train_corr.to_string())

             PassengerId  Survived    Pclass       Age     SibSp     Parch      Fare
PassengerId     1.000000  0.005007  0.035144  0.036847  0.057527  0.001652  0.012658
Survived        0.005007  1.000000  0.338481  0.077221  0.035322  0.081629  0.257307
Pclass          0.035144  0.338481  1.000000  0.369226  0.083081  0.018443  0.549500
Age             0.036847  0.077221  0.369226  1.000000  0.308247  0.189119  0.096067
SibSp           0.057527  0.035322  0.083081  0.308247  1.000000  0.414838  0.159651
Parch           0.001652  0.081629  0.018443  0.189119  0.414838  1.000000  0.216225
Fare            0.012658  0.257307  0.549500  0.096067  0.159651  0.216225  1.000000

In [9]:
# Membaca hasil korelasi fitur

# Pada bagian sebelumnya, Anda sudah menjalankan perintah mendapatkan korelasi.

# Apabila Anda melihat table ini Anda akan mengetahui korelasi antar kolom. 
#Korelasi dapat ditentukan dengan mendekati nilai 1 untuk korelasi positive dan nilai -1 untuk korelasi terbalik.

# Pada data ini dapat dilihat bahwa target variable kita Survived sangat besar korelasinya dengan Pclass dan Fare. 
# Sedangkan Age sangat berkaitan dengan Pclass, Sibling Spouse (SibSp), Parent Children (Parch).

# Dapat diasumsikan bahwa kebanyakan orang yang selamat adalah orang dengan PClass atas 
# dan Tuanya umur seseorang dapat dikatakan dia akan membawa saudara/orang tua/anak/pasangan.

# Dan Fare (harga) tentu saja berkaitan dengan Pclass (kelas penumpang) seorang penumpang.

In [11]:
# Mengenali missing data dari kolom

# Perhatikan Kode Program terdapat function display_missing. 
# Function tersebut digunakan untuk mengetahui jumlah missing value dari setiap kolom.

# Untuk mengeluarkan hasil missing value Anda diminta untuk mengisi bagian [...1...] dengan dataframe df dan jalankan.

df_train.name = 'Training Set'
df_test.name = 'Test Set'
df_all.name = 'All Set' 

dfs = [df_train, df_test]

def display_missing(df):    
    for col in df.columns.tolist():          
        print('{} column missing values: {}'.format(col, df[col].isnull().sum()))
    print('\n')

for df in dfs:
    print('{}'.format(df.name))
    display_missing(df) #1
    
# Dari hasil tersebut ada beberapa kolom masih terdapat nilai kosong seperti age, cabin, embarked pada dataframe training set.

Training Set
PassengerId column missing values: 0
Survived column missing values: 0
Pclass column missing values: 0
Name column missing values: 0
Sex column missing values: 0
Age column missing values: 177
SibSp column missing values: 0
Parch column missing values: 0
Ticket column missing values: 0
Fare column missing values: 0
Cabin column missing values: 687
Embarked column missing values: 2


Test Set
PassengerId column missing values: 0
Pclass column missing values: 0
Name column missing values: 0
Sex column missing values: 0
Age column missing values: 86
SibSp column missing values: 0
Parch column missing values: 0
Ticket column missing values: 0
Fare column missing values: 1
Cabin column missing values: 327
Embarked column missing values: 0

In [12]:
# Mencari nilai untuk missing value

# Untuk mengisi data Age yang kosong, karena kita mengetahui bahwa Umur seseorang berkaitan dengan Kelas penumpangnya. 
# Kita dapat mengisinya dengan nilai tengah umur seseorang di dalam kelas tersebut dan berdasar jenis kelaminnya.

# Jadi kita lakukan groupby terhadap Jenis Kelamin dan Kelas Penumpang, 
# lalu isi nilai tersebut ke dalam missing value yang ada di dalam data kita.

age_by_pclass_sex = df_all.groupby(['Sex', 'Pclass']).median()['Age']

for pclass in range(1, 4):
    for sex in ['female', 'male']:
        print('Median age of Pclass {} {}s: {}'.format(pclass, sex, age_by_pclass_sex[sex][pclass]))
print('Median age of all passengers: {}'.format(df_all['Age'].median()))

# Filling the missing values in Age with the medians of Sex and Pclass groups
df_all['Age'] = df_all.groupby(['Sex', 'Pclass'])['Age'].apply(lambda x: x.fillna(x.median()))

Median age of Pclass 1 females: 36.0
Median age of Pclass 1 males: 42.0
Median age of Pclass 2 females: 28.0
Median age of Pclass 2 males: 29.5
Median age of Pclass 3 females: 22.0
Median age of Pclass 3 males: 25.0
Median age of all passengers: 28.0

In [13]:
# Mengisi nilai kosong

# Kita juga harus mengisi nilai yang hilang untuk kolom Embarked dan Fare.

# Untuk Embarked, kebanyakan orang dari Titanic berangkat dari Southampton/S. 
# Sehingga kita dapat mengisinya dengan S saja. Ini lebih baik daripada membiarkan datanya kosong.
# Filling the missing values in Embarked with S
df_all['Embarked'] = df_all['Embarked'].fillna('S')

# Untuk Fare, kita tahu bahwa Fare sangat berkaitan dengan Kelas Penumpang, Jumlah Parent/Children, dan Jumlah Sibling/Spouse. 
# Sehingga kita dapat mengisinya dengan nilai tengah dari orang yang berada di grup tersebut.
med_fare = df_all.groupby(['Pclass', 'Parch', 'SibSp']).Fare.median()[3][0][0]
# Filling the missing value in Fare with the median Fare of 3rd class alone passenger
df_all['Fare'] = df_all['Fare'].fillna(med_fare)

# Exploring Data